.board-wrap {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100vh;
}

.board {
    margin: 0 auto 1em auto;
    width: 90%;
    height: 90%;
    display: grid;
    row-gap: .5em;
    column-gap: .5em;
    padding: 1em;
    background: #138A36;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}