.game-over {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(253, 223, 187, .9);
    border-radius: 1.5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.game-over h1 {
    color: rgb(47, 47, 47);
    font-size: 3rem;
    margin: 0;
    padding: 0;
}