.question {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

.answers {
  display: flex;
  flex-direction: column;
}

.answer {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  margin: 1rem 0rem 1rem 1rem;
  padding: 0.5rem;
  width: 100%;
}

.coint {
  padding: 1rem;
}

.correct {
  background-color: rgba(18, 138, 18, 0.9);
}

.incorrect {
  background-color: rgba(235, 87, 87, 0.9);
}
